/* Basis */
* {
  box-sizing: border-box;
}


/* BASIC */

body {
  margin: 0;
  min-height: 100vh;

  font-family: Arial, Helvetica, sans-serif;
  background-color: #1f1f1f;
}
h1 {
  font-size: 30px;
}

/* LOGO */

.logo {
  height: auto;
  width: 200px;
  margin: 50px auto;  
}


/* FORUM */
/* Hauptinhalt */
.container {
  background: rgb(41, 190, 75);
  padding: 20px;
  max-width: 1200px;
  margin: 0px auto;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}
/* Forum */
form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 1200px;
  margin: 80px auto;
}

label {
  font-weight: 500;
  color: rgb(41, 190, 75);
}

input,
select,
textarea {
  font-size: 16px;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #333;
}

button {
  margin-top: 70px;
  padding: 12px;
  background-color: rgb(41, 190, 75);
  font-size: 16px;
  color: #1f1f1f;
  border-width: 0px;
  border-radius: 10px;
}

